.starfleet-logo-col {
	text-align: center;
}

.starfleet-logo-col img {
	width: 370px;
}

.title-of-page {
	color: #f2c300;
}

html body {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.forecast-button {
	float: right;
	clear: both;

.forcast-button span {

}