// LCARS -- Fonts

h1
  font-size 270%
  font-weight bold

h2
  font-size 240%
  font-weight bold

h3
  font-size 200%
  font-weight bold

h4
  font-size 180%
  font-weight bold

h5
  font-size 160%
  font-weight bold

h6
  font-size 140%
  font-weight bold
